/* 
  ce5e04
  f46f04
  7c3f04
  d4ccce
  342404
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.featured-carousel {
  display: block;
  width: 60%;
  margin-left: 20%;
}

#featured-header {
  text-align: center;
  margin-bottom: 25px;
  font-size: x-large;
}

.carousel {
  padding: 20px;
  border-radius: 10px;
}

.beerList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin-top: 100px;
  margin-right: 10%;
  margin-bottom: 100px;
  padding: 100px;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  width: 70%;
  display: grid;
  grid-template-rows: max-content 2fr;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 4px #d7d7d7;
  padding: 30px;
  transition: 0.3s;
}

.card-details {
  margin-top: 25px;
  margin-bottom: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.beer-name {
  margin-top: 10px;
  display: block;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

/* .header {
  border-radius: 20px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
} */

nav {
  float: right;
  margin: auto;
  padding: 20px;
}

button {
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.card-button {
  margin-right: 3px;
  margin-top: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.card-button:hover {
  box-shadow: 0px 0px 5px 2px #d7d7d7;
}

p {
  font-size: small;
}

.beerForm {
  width: 60%;
  float: center;
  clear: both;
  border-radius: 3px;
  margin: auto;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 75%;
  align-items: center;
  text-align: center;
}

h1 {
  clear: both;
  text-align: center;
}

a {
  text-align: center;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

.formHolder {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin: auto;
  padding: 10px;
  width: 45%;
}

.cheers {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin: 100px;
  padding: 100px;
}
.ant-menu-sub.ant-menu-inline {
  padding: 0;
  background: #fafafa;
  border: 0;
  width: fit-content;
  border-radius: 0;
  box-shadow: none;
}
.group{
  width: 450px;
  margin: auto;
}