/* 
  ce5e04
  f46f04
  7c3f04
  d4ccce
  342404
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * FONTS */

p {
  font-size: small;
}

a {
  text-align: center;
}

h1 {
  clear: both;
  text-align: center;
}

h2 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  padding: 80px;
}

#beers-list-header {
  color: #d7d7d7;
}

h5 {
  margin: 0px;
}

.cheers h1 {
  font-size: 30pt;
}

/* * HERO */

.hero-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://static.independent.co.uk/2021/01/09/10/iStock-1172481357.jpg?width=1200');
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}

.hero-content {
  color: white;
  font-size: 65px;
  letter-spacing: 0px;
  margin: 9% 9%;
  float: left;
}

.hero-content p {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

/* * FEATURED */

.featured-carousel {
  display: block;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 150px;
}

.carousel {
  padding: 20px;
  border-radius: 10px;
}

/* * BEER LIST */

#beer-list-container {
  background-size: cover;
  background-color: #161f1f;
  padding-bottom: 100px;
}

.beerList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #348fea;
  margin: 50px 10% 100px 10%;
  padding: 125px;
}

/* * BEER CARDS */

.beer-card-container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  height: fit-content;
  display: grid;
  grid-template-rows: max-content 2fr;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 4px #d7d7d7;
  padding: 30px;
  transition: 0.3s;
}

.card-details {
  margin-top: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #348fea;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

button {
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.card-button {
  margin-right: 3px;
  margin-top: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.card-button:hover {
  box-shadow: 0px 0px 5px 2px #d7d7d7;
}

/* * FORM/FORM SUBMISSION */

.beerForm {
  width: 60%;
  clear: both;
  border-radius: 3px;
  padding: 10px;
}

.formHolder {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #348fea;
  margin: auto;
  padding: 10px;
  width: 45%;
}

input {
  padding: 10px;
  margin: 10px;
  width: 75%;
  align-items: center;
  text-align: center;
}

.ant-form-item-label{
  width: 15%;
  text-align: center;
}
.ant-input {
  width: 85%;
}

.cheers {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #348fea;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  text-align: center;
}

.cheersPic {
  width: 700px;
  margin-left: 33%;
}

/* * HANNAH */

.group {
  width: fit-content;
  height: fit-content;
  background-position: center;
  margin: auto;
}

.hannah-about {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 75px;
  margin-bottom: 50px;
  border-top-style: groove;
}

.hannah-header {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
}

.hannah-content {
  padding: 25px 65px 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 80px;
  font-size: medium;
  text-align: center;
}

/* * HEADER/NAVIGATION BAR */

.ant-menu-sub.ant-menu-inline {
  padding: 0;
  border: 0;
  width: fit-content;
  border-radius: 0;
  box-shadow: none;
}

.ant-layout-header .ant-menu {
  padding-left: 28%;
  width: 100%;
  font-size: 35px;
  font-weight: 400;
}

.space-align-block {
  flex: none;
  margin: 8px 20%;
  padding: 4px;
}

/* * FOOTER */

footer {
  margin: 150px 0 50px 0;
  text-align: center;
}