/* 
  ce5e04
  f46f04
  7c3f04
  d4ccce
  342404
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-img {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('https://static.independent.co.uk/2021/01/09/10/iStock-1172481357.jpg?width=1200');
  margin-bottom: 125px;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}

.hero-content {
  color: white;
  font-size: 65px;
  letter-spacing: 0px;
  margin: 9% 9% 5px;
  float: left;
}

.hero-content p {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.featured-carousel {
  display: block;
  width: 60%;
  margin-left: 20%;
}

#featured-header {
  text-align: center;
  margin-bottom: 25px;
  font-size: x-large;
}

.carousel {
  padding: 20px;
  border-radius: 10px;
}

.beerList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 75px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin-top: 50px;
  margin-right: 10%;
  margin-bottom: 100px;
  padding: 100px;
  margin-left: 10%;
}

.list-header {
  text-align: center;
  margin-top: 75px;
  font-size: x-large;
}

.container {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.card {
  height: fit-content;
  display: grid;
  grid-template-rows: max-content 2fr;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 4px #d7d7d7;
  padding: 30px;
  transition: 0.3s;
}

.card-details {
  margin-top: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: sienna;
}

.card img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

button {
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.card-button {
  margin-right: 3px;
  margin-top: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.card-button:hover {
  box-shadow: 0px 0px 5px 2px #d7d7d7;
}

p {
  font-size: small;
}

.beerForm {
  width: 60%;
  clear: both;
  border-radius: 3px;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 75%;
  align-items: center;
  text-align: center;
}

h1 {
  clear: both;
  text-align: center;
}

a {
  text-align: center;
}

h4 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

.formHolder {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin: auto;
  padding: 10px;
  width: 45%;
}

.cheers {
  clear: both;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 4px #ce5f0448;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  text-align: center;

}
.cheers h1 {
  font-size: 30pt;
}
.ant-menu-sub.ant-menu-inline {
  padding: 0;
  border: 0;
  width: fit-content;
  border-radius: 0;
  box-shadow: none;
}
.group {
  width: fit-content;
  height: fit-content;
  background-position: center;
  margin: auto;
}

footer {
  margin-top: 150px;
  text-align: center;
}

.hannah-about {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 75px;
  margin-bottom: 50px;
  border-top-style: groove;
}

.hannah-header {
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
}

.hannah-content {
  padding: 25px 65px 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 80px;
  font-size: medium;
  text-align: center;
}

.ant-layout-header{
  margin: auto;
  width: 50%;
}
.ant-layout-header .ant-menu{
  margin-left: 18%;
}
.ant-form-item-label{
  width: 15%;
  text-align: center;
}
.ant-input {
  width: 85%;
}
.space-align-block {
  flex: none;
  margin: 8px 20%;
  padding: 4px;
}
.cheersPic {
  width: 700px;
  margin-left: 33%;
}